In [49]:
import pandas as pd

input_path = 'set10_full_min_matched_attacks.csv'

df = pd.read_csv(input_path)
df.head()

,timestamp,length,src_ip,dst_ip,protocol,src_port,dst_port,flags,count,attack
0,1258002000000000,79,12703,12704,6,42311,4899,18,1,0
1,1258002000000000,79,12703,12704,6,42311,4899,18,1,0
2,1258008300000000,74,15398,55219,6,38163,443,2,1,2
3,1258008300000000,66,15398,55219,6,38163,443,16,1,2
4,1258008300000000,442,15398,55219,6,38163,443,24,1,2

In [50]:
# Just convert microsecond timestamps to minutes
df['timestamp'] = (df['timestamp'] // 1_000_000 // 60).astype(int)
df.head()

,timestamp,length,src_ip,dst_ip,protocol,src_port,dst_port,flags,count,attack
0,20966700,79,12703,12704,6,42311,4899,18,1,0
1,20966700,79,12703,12704,6,42311,4899,18,1,0
2,20966805,74,15398,55219,6,38163,443,2,1,2
3,20966805,66,15398,55219,6,38163,443,16,1,2
4,20966805,442,15398,55219,6,38163,443,24,1,2

In [51]:
# collapse duplicates on all columns except 'count', summing 'count'
before = len(df)
group_cols = [c for c in df.columns if c != 'count']
df = df.groupby(group_cols, as_index=False)['count'].sum()
after = len(df)
print(f'Collapsed {before - after} duplicate groups; now {after} rows.')

df.head()

Collapsed 867241 duplicate groups; now 1500670 rows.

,timestamp,length,src_ip,dst_ip,protocol,src_port,dst_port,flags,attack,count
0,20966700,79,12703,12704,6,42311,4899,18,0,2
1,20966805,66,15398,55219,6,38163,443,16,2,2
2,20966805,66,15398,55219,6,38163,443,17,2,1
3,20966805,74,15398,55219,6,38163,443,2,2,1
4,20966805,442,15398,55219,6,38163,443,24,2,1

In [52]:
# write dataframe to a compressed CSV file
out_path = input_path.replace('.csv', '_out.csv')
df.to_csv(out_path, index=False)
print(f'Wrote {len(df)} rows to {out_path}')

Wrote 1500670 rows to set10_full_min_matched_attacks_out.csv